@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="form-group col-sm-6">
        <input id="msg" class="form-control">
    </div>
    <input id="send" class="btn btn-default" type="button" value="Send" />
</div>
<div class="row">
    <div id="log" class="col-sm-12"></div>
</div>

@section Scripts
{
    <script>
        $("#send").click(() => {
            let msg = $("#msg").val();
            $("#msg").val("");
            $(`<p class='send'><span class='text-info'>Send message to server</span>: ${msg} at ${new Date().toLocaleTimeString()}</p>`)
                .appendTo("#log");

            // Send message 


        });
    </script>
}
