@{
    ViewBag.Title = "Завершение регистрации";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>Для завершения регистации подтвердите письмо в своем почтовом ящике</p>

@Html.ActionLink("Home", "Index", new {controller="Home"})
